/* common styles */
* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  font-family: "Open Sans", sans-serif;
}

.container {
  width: 1320px;
  margin: auto;
}

.btn {
  display: inline-block;
  background-color: #1d4ed8;
  color: white;
  font-weight: bold;
  padding: 12px 40px; /* using padding to match size */
  border-radius: 8px;
}

/* header */
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* min-height: 100px; */
  padding: 30px 0; /* using padding to match height */
}

header nav ul {
  display: flex;
  list-style: none;
  gap: 24px;
}

header nav ul a {
  color: #575757;
}

/* hero section */
.hero {
  height: 90vh;
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./images/banner.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* text div at top, .btn at bottom, apart from padding 80px setting below */
  align-items: center;
  color: white; /* all texts are white */
  padding: 80px; /* to match the design */
  text-align: center;
}

.hero div {
  margin: 36px 0;
}

.hero h1 {
  font-size: 72px;
  margin: 24px 0;
}

.hero p {
  font-size: 24px;
  max-width: 820px;
}

.hero .btn {
  font-size: 24px;
  padding: 28px 64px;
}

/* speakers section */
.speakers {
  padding: 20px 0 80px;
}

.speakers h2 {
  font-size: 48px;
  text-align: center;
  margin: 50px 0;
}

.speakers ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;
}

.speakers ul li {
  border: 1px solid #e5e7eb;
  border-radius: 10px;
  overflow: hidden; /* to cut the top of the image */
}

.speakers ul li div {
  padding: 24px;
}

.speakers .topic {
  color: #2563eb;
  text-transform: uppercase;
  font-weight: bold;
}

.speakers .name {
  color: #0d1b2a;
  font-size: 22px;
  font-weight: 800;
  margin: 18px 0;
}

.speakers .designation {
  color: #575757;
}
