/* common styles */
* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  font-family: "Inter", sans-serif;
  color: #0d1b2a;
}

.container {
  width: 1320px;
  margin: auto;
}

.btn {
  display: inline-block;
  background-color: #1d4ed8;
  color: white;
  font-weight: bold;
  padding: 12px 40px; /* using padding to match size */
  border-radius: 10px;
}

h2 {
  font-size: 56px;
  text-align: center;
  margin: 50px 0;
  /* font-weight: 700; */
}

h3 {
  font-size: 48px;
  text-align: center;
  margin: 30px 0 16px;
}

/* header */
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* min-height: 100px; */
  padding: 30px 0; /* using padding to match height */
}

header nav ul,
footer section ul {
  display: flex;
  list-style: none;
  gap: 24px;
}

header nav ul a {
  color: #575757;
}

/* hero section */
.hero {
  height: 90vh;
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./images/banner.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* text div at top, .btn at bottom, apart from padding 80px setting below */
  align-items: center;
  color: white; /* all texts are white */
  padding: 80px; /* to match the design */
  text-align: center;
}

.hero div {
  margin: 36px 0;
}

.hero h1 {
  font-size: 80px;
  margin: 24px 0;
}

.hero p {
  font-size: 22px;
  max-width: 800px;
}

.hero .btn {
  font-size: 24px;
  padding: 22px 64px;
}

/* speakers section */
.speakers {
  padding: 20px 0 80px;
}

.speakers ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;
}

.speakers ul li {
  border: 1px solid #e5e7eb;
  border-radius: 10px;
  overflow: hidden; /* to cut the top of the image */
}

.speakers ul li div {
  padding: 24px;
}

.speakers .topic {
  color: #2563eb;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
}

.speakers .name {
  font-size: 20px;
  font-weight: bold;
  margin: 12px 0;
}

.speakers .designation {
  color: #575757;
  font-size: 14px;
}

/* pricing section  */
.pricing {
  padding: 60px 0 80px;
}

.pricing .duration {
  color: #575757;
  text-align: center;
}

.pricing .cards {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 24px;
  margin: 50px 80px 0;
}

.pricing .cards > li {
  flex: 1;
  border: 1px solid #e5e7eb;
  border-radius: 12px;
  background-color: #f8f9fb;
  padding: 34px;
}

.pricing .cards .name {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 13px;
  color: #888888;
}

.pricing .cards .price {
  font-weight: bold;
  font-size: 44px;
  margin: 6px 0 0;
}

.pricing .cards .head-count {
  font-size: 13px;
  color: #888888;
}

.pricing .cards hr {
  border: none;
  border-top: 1px solid #e5e7eb;
  margin: 22px 0;
}

.pricing .features {
  list-style-position: inside; /* to stop going outside */
  list-style-type: disc; /* filled up circle */
}

.pricing .features li {
  font-size: 14px;
  margin: 14px 0;
}

.pricing .features li::marker {
  color: blue; /* took help form ai to make it blue */
}

.pricing .cards a {
  display: block; /* full size */
  text-align: center;
  border-radius: 8px;
  border: 1px solid #2563eb;
  color: #2563eb;
  margin-top: 20px;
  padding: 14px;
  font-size: 14px;
  font-weight: 600;
}

.pricing .cards .selected {
  background-color: #0d1b2a;
  color: white;
}

.pricing .cards .selected .price {
  color: white;
}

.pricing .cards .selected a {
  /* not using the common .btn class here
  button should be blue for whichever price is selected 
  not by the button's class itself */
  background-color: #2563eb;
  color: white;
}

/* footer */
footer {
  background-color: #0d1b2a;
  color: #626b75;
}

footer section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 120px; /* taking a bit of a shortcut here */
}

footer hr {
  border-color: #626b75;
}

footer .top ul a {
  color: white;
  font-size: 24px;
}

footer .bottom ul a {
  color: #626b75;
}
